<!DOCTYPE html>
<html>
    <head>
        <title>Minha História</title>
        <link rel="stylesheet" type="text/css" href="biography.css">
    </head>
    <body>
        <div class="biography-container">
            <h1>Minha História</h1>
            <img src="profile-image.jpg" alt="Profile Image"
                class="profile-image">
            <p class="biography-text">
                Olá, meu nome é {{nome}}. Eu nasci em {{local_natal}} em
                {{data_nascimento}}. Desde
                pequeno, sempre tive uma paixão por {{hobby}}.
                Com o passar dos anos, dediquei muito tempo e esforço para
                aprender e me aperfeiçoar nessas áreas.
                <br><br>
                Em [Ano], eu [algum evento ou conquista importante]. Desde
                então, tenho continuado a me desenvolver e buscar novos
                desafios. Atualmente, estou envolvido em [atividades atuais ou
                projetos].
                <br><br>
                Eu acredito firmemente que, com determinação e trabalho duro,
                podemos alcançar nossos sonhos e objetivos. Agradeço a todos os
                que me apoiaram e me incentivaram ao longo do caminho.
            </p>
        </div>
    </body>
</html>